@mixin light-scheme() {
  --primary-font-weight: var(--font-weight-small);
  --primary-font-size: var(--font-size);
  --primary-color: var(--color-gray-950);
  --primary-bg: var(--color-gray-100);
  --secondary-font-size: var(--font-size-small);
  --secondary-color: var(--color-gray-500);
  --cell-color-dl: var(--color-emerald-400);
  --cell-color-tl: var(--color-blue-400);
  --cell-color-dw: var(--color-amber-400);
  --cell-color-tw: var(--color-red-400);
  --cell-opacity-bonus: 0.85;
  --cell-bg: var(--color-white);
  --cell-bg-center: var(--color-gray-200);
  --cell-bg-footer: var(--color-gray-200);
  --cell-shadow: var(--shadow-xs);
  --cell-shadow-color: var(--primary-color);
  --cell-shadow-footer: var(--inset-shadow-xs);
  --cell-shadow-color-footer: var(--primary-color);
  --tile-color: var(--primary-color);
  --tile-color-inverted: var(--color-gray-950);
  --tile-bg: var(--color-fuchsia-200);
  --tile-bg-inverted: var(--color-fuchsia-400);
  --tile-bg-saturated: var(--color-fuchsia-300);
  --tile-outline-color: var(--color-violet-600);
  --tooltip-bg: var(--color-rose-500);
  --tooltip-color: var(--color-white);
  --btn-bg: var(--color-white);
  --btn-bg-hover: var(--color-white);
  --btn-bg-active: var(--color-gray-300);
  --btn-border-color-hover: var(--color-gray-500);
  --btn-border-color: var(--color-gray-400);
  --btn-font-weight: var(--font-weight);
  --btn-font-size: var(--font-size-small);
  --btn-color: var(--color-gray-800);
  --btn-shadow: var(--shadow-xs);
  --btn-shadow-color: var(--primary-color);
  --btn-shadow-hover: var(--shadow-s);
  --btn-shadow-hover-color: var(--primary-color);
  --dialog-color: var(--color-gray-100);
  --dialog-bg: var(--color-gray-800);
  --dialog-btn-border: 1px solid var(--color-gray-50);
  --dialog-btn-bg-hover: var(--color-gray-700);
  --dialog-btn-bg-active: var(--color-gray-900);
}

@mixin dark-scheme() {
  --primary-font-weight: var(--font-weight-smaller);
  --primary-font-size: var(--font-size);
  --primary-color: var(--color-gray-50);
  --primary-bg: var(--color-gray-800);
  --secondary-font-size: var(--font-size-small);
  --secondary-color: var(--color-gray-300);
  --cell-color-dl: var(--color-teal-700);
  --cell-color-tl: var(--color-sky-700);
  --cell-color-dw: var(--color-yellow-700);
  --cell-color-tw: var(--color-pink-700);
  --cell-opacity-bonus: 0.85;
  --cell-bg: var(--color-gray-900);
  --cell-bg-center: var(--color-gray-700);
  --cell-bg-footer: var(--color-gray-700);
  --cell-shadow: var(--inset-shadow-s);
  --cell-shadow-color: var(--color-gray-950);
  --cell-shadow-footer: var(--shadow-xs);
  --cell-shadow-color-footer: var(--color-gray-950);
  --tile-color: var(--color-gray-900);
  --tile-color-inverted: var(--color-gray-950);
  --tile-bg: var(--color-teal-300);
  --tile-bg-inverted: var(--color-white);
  --tile-bg-saturated: var(--color-teal-100);
  --tile-outline-color: var(--color-purple-500);
  --tooltip-bg: var(--color-rose-500);
  --tooltip-color: var(--color-white);
  --btn-bg: var(--color-gray-600);
  --btn-bg-hover: var(--color-gray-500);
  --btn-bg-active: var(--color-gray-900);
  --btn-border-color-hover: transparent;
  --btn-border-color: transparent;
  --btn-font-weight: var(--font-weight);
  --btn-font-size: var(--font-size-small);
  --btn-color: var(--color-gray-50);
  --btn-shadow: var(--shadow-s);
  --btn-shadow-color: var(--primary-bg);
  --btn-shadow-hover: var(--shadow-m);
  --btn-shadow-hover-color: var(--primary-bg);
  --dialog-color: var(--color-gray-900);
  --dialog-bg: var(--color-gray-100);
  --dialog-btn-border: 1px solid var(--color-gray-900);
  --dialog-btn-bg-hover: var(--color-gray-50);
  --dialog-btn-bg-active: var(--color-gray-200);
}

:root {
  --primary-border: 1px solid var(--btn-border-color);
  --primary-padding: var(--space-s);
  --primary-border-radius: var(--space-2xs);
  --cell-tile-width: var(--space-4xl);
  --cell-tile-gap: var(--space-2xs);
  --cell-tile-border-radius: var(--space-xs);
  --opacity-disabled: 0.9;
  @include light-scheme;
  @media (prefers-color-scheme: dark) {
    @include dark-scheme;
  }
}

#app {
  background: var(--primary-bg);
  color: var(--primary-color);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}

.app {
  &__limit-max-width {
    max-width: calc(var(--cell-count-per-axis) * (var(--cell-tile-gap) + var(--cell-tile-width)) - var(--cell-tile-gap));
    width: 100%;
  }
  &__make-secondary {
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
  }
  &__create-grid {
    @mixin grid($columns, $rows, $gap: var(--cell-tile-gap)) {
      display: grid;
      grid-template-columns: repeat($columns, minmax(0, 1fr));
      grid-template-rows: repeat($rows, auto);
      gap: $gap;
      > * {
        display: grid;
        aspect-ratio: 1 / 1;
        > * {
          grid-area: 1 / 1;
        }
      }
    }
    &--for-board {
      @include grid(var(--cell-count-per-axis), var(--cell-count-per-axis));
    }
    &--for-rack {
      @include grid(8, 1, calc(var(--cell-tile-gap) * 2));
    }
  }
}
