// TODO sync changes with /public/words.svg

@mixin light-scheme() {
  --primary-font-weight: var(--font-weight-small);
  --primary-font-size: var(--font-size);
  --primary-bg: var(--color-gray-200);
  --primary-color: var(--color-gray-950);

  --secondary-font-weight: var(--primary-font-weight);
  --secondary-font-size: var(--font-size-small);
  --secondary-bg: transparent;
  --secondary-color: var(--color-gray-500);

  --cell-bg: var(--color-gray-50);
  --cell-bg-highlighted: var(--color-gray-300);
  --cell-color-quaternary: var(--color-gray-400);
  --cell-color-tertiary: var(--color-gray-500);
  --cell-color-secondary: var(--color-gray-600);
  --cell-color-primary: var(--color-gray-700);
  --cell-shadow: none;

  --tile-bg-primary: var(--color-gray-800);
  --tile-color-primary: var(--color-gray-100);
  --tile-pts-color-primary: var(--color-gray-200);

  --tile-bg-secondary: var(--color-gray-600);
  --tile-color-secondary: var(--color-gray-100);
  --tile-pts-color-secondary: var(--color-gray-200);

  --tile-bg-tertiary: var(--color-gray-500);
  --tile-color-tertiary: var(--color-gray-50);
  --tile-pts-color-tertiary: var(--color-gray-100);

  --tile-outline: 2px solid var(--color-gray-900);

  --tooltip-bg: var(--color-gray-900);
  --tooltip-color: var(--color-gray-50);

  --error-bg: var(--color-gray-400);
  --error-color: var(--color-gray-50);

  --rack-cell-bg: var(--color-gray-300);
  --rack-cell-shadow: var(--inset-shadow-s);

  --btn-font-weight: var(--font-weight);
  --btn-font-size: var(--font-size-small);

  --btn-bg-primary: var(--color-gray-900);
  --btn-color-primary: var(--color-gray-50);
  --btn-border-color-primary: transparent;
  --btn-bg-primary-hover: var(--color-gray-800);
  --btn-color-primary-hover: var(--color-white);
  --btn-border-color-primary-hover: var(--btn-border-color-primary);
  --btn-bg-primary-active: var(--color-gray-950);
  --btn-color-primary-active: var(--color-gray-200);
  --btn-border-color-primary-active: var(--btn-border-color-primary);

  --btn-bg-secondary: var(--color-gray-50);
  --btn-color-secondary: var(--color-gray-800);
  --btn-border-color-secondary: var(--color-gray-400);
  --btn-bg-secondary-hover: var(--color-white);
  --btn-color-secondary-hover: var(--color-gray-900);
  --btn-border-color-secondary-hover: var(--btn-color-secondary-hover);
  --btn-bg-secondary-active: var(--color-gray-100);
  --btn-color-secondary-active: var(--color-gray-700);
  --btn-border-color-secondary-active: var(--color-gray-500);

  --btn-bg-disabled: var(--primary-bg);
  --btn-color-disabled: var(--color-gray-500);
  --btn-border-color-disabled: var(--color-gray-400);

  --dialog-bg: var(--color-gray-50);
  --dialog-color: var(--primary-color);
  --dialog-font-size: var(--secondary-font-size);
  --dialog-font-weight: var(--secondary-font-weight);
  --dialog-title-font-size: var(--primary-font-size);
  --dialog-title-font-weight: var(--primary-font-weight);
}

@mixin dark-scheme() {
}

:root {
  --primary-padding: var(--space-s);
  --grid-gap: var(--space-2xs);
  --grid-item-size: var(--space-4xl);
  --grid-item-radius: var(--space-xs);
  --tooltip-radius: var(--space-3xs);
  --btn-radius: var(--space-xs);
  --dialog-radius:  var(--space-s);
  --opacity-disabled: 0.9;
  --transition-duration: 250ms;
  --transition-duration-half: 125ms;
  @include light-scheme;
  @media (prefers-color-scheme: dark) {
    @include dark-scheme;
  }
}

#app {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  background: var(--primary-bg);
  color: var(--primary-color);
}

.app {
  &__limit-max-width {
    max-width: calc(var(--grid-items-per-axis) * (var(--grid-gap) + var(--grid-item-size)) - var(--grid-gap));
    width: 100%;
  }
  &__make-secondary {
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    background: var(--secondary-bg);
    color: var(--secondary-color);
  }
  &__create-grid {
    @mixin grid($columns, $rows, $gap: var(--grid-gap)) {
      display: grid;
      grid-template-columns: repeat($columns, minmax(0, 1fr));
      grid-template-rows: repeat($rows, auto);
      gap: $gap;
      > * {
        display: grid;
        aspect-ratio: 1 / 1;
        > * {
          grid-area: 1 / 1;
        }
      }
    }
    &--for-board {
      @include grid(var(--grid-items-per-axis), var(--grid-items-per-axis));
    }
    &--for-rack {
      @include grid(8, 1, calc(var(--grid-gap) * 2));
    }
  }
}
