:root {
  --space-6xs: 1px;
  --space-5xs: 0.05rem;
  --space-4xs: 0.1rem;
  --space-3xs: 0.15rem;
  --space-2xs: 0.2rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 0.75rem;
  --space-l: 1rem;
  --space-xl: 1.25rem;
  --space-2xl: 1.5rem;
  --space-3xl: 1.75rem;
  --space-4xl: 2rem;
  --space-5xl: 2.25rem;
  --space-6xl: 2.5rem;

  --font-size-small: 0.875rem;
  --font-size: var(--space-l);
  --font-size-big: 1.125rem;

  --line-height-small: var(--space-xl);
  --line-height: var(--space-2xl);
  --line-height-big: var(--space-3xl);

  --font-weight-smaller: 200;
  --font-weight-small: 300;
  --font-weight: 400;
  --font-weight-big: 500;
  --font-weight-bigger: 600;

  --transition-timing-function: ease;

  --z-index-level-1: 10;
  --z-index-level-2: 20;
  --z-index-level-3: 30;

  --shadow-color: black;

  --shadow-2xs: 0 1px color-mix(in oklch, var(--shadow-color) 5%, transparent);
  --shadow-xs: 0 1px 2px 0 color-mix(in oklch, var(--shadow-color) 5%, transparent);
  --shadow-s:
    0 1px 3px 0 color-mix(in oklch, var(--shadow-color) 10%, transparent),
    0 1px 2px -1px color-mix(in oklch, var(--shadow-color) 10%, transparent);
  --shadow-m:
    0 4px 6px -1px color-mix(in oklch, var(--shadow-color) 10%, transparent),
    0 2px 4px -2px color-mix(in oklch, var(--shadow-color) 10%, transparent);
  --shadow-l:
    0 10px 15px -3px color-mix(in oklch, var(--shadow-color) 10%, transparent),
    0 4px 6px -4px color-mix(in oklch, var(--shadow-color) 10%, transparent);
  --shadow-xl:
    0 20px 25px -5px color-mix(in oklch, var(--shadow-color) 10%, transparent),
    0 8px 10px -6px color-mix(in oklch, var(--shadow-color) 10%, transparent);
  --shadow-2xl: 0 25px 50px -12px color-mix(in oklch, var(--shadow-color) 25%, transparent);
  --shadow-none: 0 0 #0000;

  --inset-shadow-2xs: inset 0 1px color-mix(in oklch, var(--shadow-color) 5%, transparent);
  --inset-shadow-xs: inset 0 1px 1px color-mix(in oklch, var(--shadow-color) 5%, transparent);
  --inset-shadow-s: inset 0 2px 4px color-mix(in oklch, var(--shadow-color) 5%, transparent);
  --inset-shadow-none: inset 0 0 #0000;

  --text-shadow-color: black;

  --text-shadow-2xs: 0px 1px 0px color-mix(in oklch, var(--text-shadow-color) 15%, transparent);
  --text-shadow-xs: 0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 20%, transparent);
  --text-shadow-s:
    0px 1px 0px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent),
    0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent),
    0px 2px 2px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent);
  --text-shadow-m:
    0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 10%, transparent),
    0px 1px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent),
    0px 2px 4px color-mix(in oklch, var(--text-shadow-color) 10%, transparent);
  --text-shadow-l:
    0px 1px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent),
    0px 3px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent),
    0px 4px 8px color-mix(in oklch, var(--text-shadow-color) 10%, transparent);
  --text-shadow-none: none;
}
