:root {
  --primary-color: var(--color-gray-darkest);
  --primary-bg: var(--color-gray-fainter);
  --primary-padding: var(--space-s);
  --primary-border-color: var(--color-gray);
  --primary-border: 1.5px solid var(--primary-border-color);
  --primary-border-radius: var(--space-xs);
  --secondary-color: var(--color-gray-light);
  --cell-color-dw: var(--color-blue);
  --cell-color-tw: var(--color-red);
  --cell-color-dl: var(--color-green);
  --cell-color-tl: var(--color-yellow);
  --cell-bg: var(--color-white);
  --cell-bg-center: var(--color-purple-light);
  --cell-bg-footer: var(--color-gray-faint);
  --cell-tile-width: var(--space-4xl);
  --cell-tile-gap: var(--space-2xs);
  --cell-shadow: var(--box-shadow-level-0);
  --cell-shadow-footer: var(--box-shadow-inner);
  --tile-color: var(--primary-color);
  --tile-color-inverted: var(--color-gray-fainter);
  --tile-bg: var(--color-pink);
  --tile-bg-inverted: var(--color-purple-dark);
  --tile-bg-saturated: var(--color-pink-saturated);
  --tile-outline-color: var(--color-purple);
  --button-bg-hover: var(--color-white);
  --button-bg-active: var(--color-gray-lightest);
  --dialog-color: var(--color-gray-fainter);
  --dialog-bg: var(--color-gray-darker);
  --dialog-button-border: 1px solid var(--color-gray-faintest);
  --dialog-button-bg-hover: var(--color-gray-dark);
  --dialog-button-bg-active: var(--color-gray-darkest);
}

.app {
  color: var(--primary-color);
  background: var(--primary-bg);
  font-size: var(--font-size);
  font-weight: var(--font-weight-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  &--blurred {
    filter: blur(0.1rem);
  }
  &__width-content {
    max-width: calc(
      var(--cell-count-per-axis) *
        (var(--cell-tile-gap) + var(--cell-tile-width))
    );
    width: 100%;
  }
  &__grid {
    @mixin grid($columns, $rows, $gap: var(--cell-tile-gap)) {
      display: grid;
      grid-template-columns: repeat($columns, minmax(0, 1fr));
      grid-template-rows: repeat($rows, minmax(0, 1fr));
      gap: $gap;
      > * {
        position: relative;
        aspect-ratio: 1 / 1;
        > * {
          position: absolute;
          inset: 0;
        }
      }
    }
    &--board {
      @include grid(var(--cell-count-per-axis), var(--cell-count-per-axis));
    }
    &--footer {
      @include grid(8, 1, calc(var(--cell-tile-gap) * 2));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--color-gray-faint);
    --primary-bg: var(--color-navy-dark);
    --primary-border-color: var(--color-gray-lightest);
    --secondary-color: var(--color-gray-lighter);
    --cell-color-dw: var(--color-cyan);
    --cell-color-tw: var(--color-red);
    --cell-color-dl: var(--color-green);
    --cell-color-tl: var(--color-orange);
    --cell-bg: var(--color-navy-darkest);
    --cell-bg-center: var(--color-navy);
    --cell-bg-footer: var(--color-navy-darker);
    --cell-shadow: var(--box-shadow-inner-dark);
    --cell-shadow-footer: var(--box-shadow-inner-dark);
    --tile-color-inverted: var(--color-gray-darkest);
    --tile-bg: var(--color-purple-darkest);
    --tile-bg-inverted: var(--color-gray-faint);
    --tile-bg-saturated: var(--color-purple-vivid);
    --tile-outline-color: var(--color-white);
    --button-bg-hover: var(--color-navy-light);
    --button-bg-active: var(--color-navy-darkest);
    --dialog-color: var(--color-gray-darkest);
    --dialog-bg: var(--color-gray-fainter);
    --dialog-button-border: 1px solid var(--color-gray-darkest);
    --dialog-button-bg-hover: var(--color-white);
    --dialog-button-bg-active: var(--color-gray-lightest);
  }
}
